@font-face {
    font-family: 'Lato-Bold';
    src:url('../fonts/Lato-Bold.eot?9octf');
    src:url('../fonts/Lato-Bold.eot?#iefix9octf') format('embedded-opentype'),
        url('../fonts/Lato-Bold.ttf?9octf') format('truetype'),
        url('../fonts/Lato-Bold.woff?9octf') format('woff'),
        url('../fonts/Lato-Bold.svg?9octf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Regular';
    src:url('../fonts/Lato-Regular.eot?9octf');
    src:url('../fonts/Lato-Regular.eot?#iefix9octf') format('embedded-opentype'),
        url('../fonts/Lato-Regular.ttf?9octf') format('truetype'),
        url('../fonts/Lato-Regular.woff?9octf') format('woff'),
        url('../fonts/Lato-Regular.svg?9octf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Italic';
    src:url('../fonts/Lato-Italic.eot?9octf');
    src:url('../fonts/Lato-Italic.eot?#iefix9octf') format('embedded-opentype'),
        url('../fonts/Lato-Italic.ttf?9octf') format('truetype'),
        url('../fonts/Lato-Italic.woff?9octf') format('woff'),
        url('../fonts/Lato-Italic.svg?9octf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ---------------------------------------------------------- Global Styles  */

body, *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Lato-Regular';    
}

input, hr{
    margin-bottom:10px;
}

ul{
    list-style:none;
}

/* ---------------------------------------------------------- Framework Styles  */

.wrapper{margin: 0 auto; background-color:#eeeff1; opacity: 0}

#appContainer{
    display: block;
    position: fixed;
}
.app-screen{ border:1px solid #f4f4f4; height:100%; padding-top:55px; background-color: #eeeff1; float:left; opacity:0;}

.row{clear:both; width:100%; padding:10px; display:inline-block;}
.grid{ float:left; padding:5px;}

/*.one{width:100%;}
.two{width:50%;}
.three{width:33.333%;}
.four{width:25%;}
.five{width:20%;}
.six{width:16.666%;}
.seven{width:14.285%;}
.eight{width:12.5%;}
.nine{width:11.111%;}
.ten{width:10%;}
.eleven{width:9.09%;}
.twelve{width:8.33%;}*/

.twelve{width:100%;}
.eleven{width:91.6666%;}
.ten{width:83.3333%;}
.nine{width:74.9999;}
.eight{width:66.6666%;}
.seven{width:58.3333%;}
.six{width:50%;}
.five{width:41.6666%;}
.four{width:33.3333%;}
.three{width:24.9999%;}
.two{width:16.6666%;}
.one{width:8.3333%;}

.push{float:right;}
.center{
    float:none;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
.box{
    text-align: center;
    background-color: #fff;
    border-radius: 6px;
    padding:10px;
    border: 1px solid #ddd;
    /*-webkit-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.45);*/
    margin: 0 auto 50px auto;
    float: none;
}

.hidden{display:none;}

.top-layer{
    display: block !important;
    /*position: absolute;*/
    z-index: 91;
    left: auto;
    top: 0;
    width: 100%;
    opacity:1;
    -webkit-overflow-scrolling: touch;

}

.testClass{
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}

.second-layer{
    display: block !important;
    position: absolute;
    z-index: 90;
    left: auto;
    top: 0;
    width: 100%;
}

#fader{
    width:100%;
    height:100%;
    position:absolute;
    z-index:95;
    background-color:#fff;
}

.screen-fader-hide{
    opacity: 0;
   transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.screen-fader-show{
    opacity: 1;
   transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

/* individual screen fixes */
#screen-taskList{
    margin-left: -2px;
}

#screen-messages{
    margin-left: -4px;
}
#screen-reply{
    margin-left: -5px;
}


/* ---------------------------------------------------------- Interaction Styles  */
body{
-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
-webkit-tap-highlight-color: transparent;
}

button, input{
    height:50px;
    margin-bottom:5px;
    border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    -webkit-border-radius:10px;
    width:100%;
    text-align:center;
    font-size:16px;
    border-style: None;
    outline: 0;
    padding-bottom:3px;
    clear:both;

    border-bottom: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgba(0, 0, 0, .5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

/* Single line input */

.text-input input{
    border: 2px solid #bdc3c7;
    text-align:left;
    padding-left:10px;
    -webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
    transition: border .25s linear,color .25s linear,background-color .25s linear;
}

.text-input input:focus{
    border-color: #8fbd20;
    outline: 0;
}

.text-input .form-error{
    margin-bottom:20px;
    color:#bdc3c7;
}

/* Buttons */
button{
    color:#fff;
}
button p:after{
    background-color:transparent;
    font-size:18px;
}
button:focus, textarea:focus{
    outline: 0;
}

.btn-primary{
    background-color:#8fbd20;
}

.btn-secondary{
    background-color:#8fbd20;
}

.btn-tertiary{
    background-color: #fff;
    border: 2px solid #bdc3c7;
    color: #999;
}

.btn-primary-red{
    background-color:#e74c3c;
}

.btn-disabled{
    background-color: #bdc3c7;
    border-color: #bdc3c7;
    color:#f4f4f4;
}

.selectButton{
    background-color: #008CBA;
    color:#ffffff;

}

.divider{
    clear:both;
    width:100%;
    height:1px;
    background-color:#ccc;
    margin-bottom:10px;
}
.replyButton{
    margin-bottom:10px;
}

.form-link{
    color:#bdc3c7;
    text-decoration: none;
    display: block;
}
.selectButtonHidden{
      opacity: 0;
      margin-top: -44px;
      width: 100%;
      height: 44px;
      margin-bottom:0;
}

.uploadButton{
    background-color: #5da423 !important;
    color:#ffffff;
}

.button-record-holder{
    margin-bottom:0;
}

.bottom-buttons{
    clear:both;
    width:100%;
    height:110px;
}

 /* Button Icons */
 .btn-icon{
    margin-right:-20px;
}

.btn-icon:after {
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size:120%;

    margin-top: 2px;
    display: block;
    float: right;

    position: relative;
    right: 40px;

    color:#000;
    opacity:0.3;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-arrow:after{
    content: "\e60e";
}
.btn-photo:after{
    content: "\e602";
}
.btn-video:after{
    content: "\e603";
}
/* ----------------------------------------------------------  Styles  */

.screen-login{
    background-color:#eeeff1;
    height: 100%;
    /*position: absolute;*/
    width:100%;
    padding-top:10px;
    margin-top: -1px;
    margin-left: -1px;
}
.screen-login h3{
    margin-top:30px;
}

.screen-login form{
    background-color: #fff;
    border-radius: 6px;
    padding: 10px;
    /*-webkit-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.45);*/
    border: 1px solid #ddd;

    margin-top:20px;
}

.screen-login .form-username{
    margin-top:20px;
}

.screen-login input{
    margin-bottom:20px;
}

.inputError{
    border: 2px solid #e74c3c !important;
    background-color: #f9f2f4 !important;
}
.screen-login .btn-primary{
    margin-bottom:20px;
}
.logo{
    text-align:center;
    margin-bottom:20px;
}
.scroll-screen, .app-screen{
    overflow-y: scroll !important;
    overflow-x: hidden;
    padding-bottom: 40px;
}

.scroll-screen::-webkit-scrollbar { 
    display: none; 
}

.app-screen::-webkit-scrollbar { 
    display: none; 
}

.reRender{
    -webkit-transform: translateZ(0,0,0);
    -webkit-backface-visibility: hidden;
}

.reRender div{
    -webkit-transform: translateZ(0,0,0);
    -webkit-backface-visibility: hidden;
}

body::-webkit-scrollbar { 
    display: none; 
}

.nav-top{
    position: absolute;
    top: 0px;
    z-index:100;
    background-color: #009fe2;
    color:#fff;
    width:100%;
    padding-top:25px;
    /*-webkit-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.45);*/

}

.nav-top .push{
    text-align:right;
}
.nav-top .pull{
    text-align:left;
}

.nav-bottom{
    position: absolute;
    height: 40px;
    width:100%;
    bottom: 0;
    z-index:101;
    background-color: #8fbd20;
    color:#fff;
    font-size:150%;
    margin-bottom:0;
    padding:0;
    /*-webkit-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.45);*/
}
.nav-bottom div{
    text-align:center;
    font-size:100%;
}
.cell{ 
    float:left;
    margin:0;
}
.cell p{
    padding:0 5px;
    display: inline-block; 
}
.center-cell{
    border-right: 1px solid #ccc;
    height:75px;
    display: table;
}
.task-text{
    vertical-align: middle;
    display: table-cell;
    padding: 0 10px;
    font-size: 16px;
}
.task-title{
    text-align: center;
    margin-bottom:20px;
    margin-top: 10px;
    font-size:16px;
}

#screen-messages .task-title{
    text-align: left;
}

.task-introPic{
    width: 50px;
    border-radius: 50%;
    height: 50px;
    overflow: hidden;
    border: 3px solid #ccc;
    float: left;
}

.task-introPic img{
    width: auto;
    height: 55px;
    margin-left: -15px;
    margin-top: -3px;
    
}
.task-description{
    font-size: 16px;
    margin-bottom: 10px;
    clear: both;
    margin-top: 35px;
    white-space: pre-wrap;
}

.modIntroImage{
    border: 2px solid #ccc;
    padding: 0;
    margin-bottom: 10px;
}

.task-list{
    padding:0;
    margin: 0 0 130px 0;
}
.task-list li{
    clear:both;
    display: inline-block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    width: 100%;
}
.task-list li:last-child{
    border-bottom: none;
}
.task-list li:first-child{
    border-top:none;
}

.inActiveClass{
    background-color: #eeeff1;
    color: #ccc;
    /*-webkit-box-shadow: none;
    box-shadow: none;*/
    border: 1px solid #ccc;
}

.inActiveClass .task-icon-status{
    color: #ccc;
}

.task-icon-status, .task-icon-type{
    margin-top:25px;
    color:#cfd1d1;
}
.task-icon-status{
    color:#8fbd20;
}
.task-icon-type{
    color:#cfd1d1;
}
.task-icon-large{
    color:#ccc;
    font-size: 220%;
    margin: 20px;
}

.light-text{
    font-family: 'Lato-Italic';
    color:#999;
    margin-bottom:20px;
}
.box .task-description{
   margin-bottom:20px;
}

.box img, .box textarea{
    margin-bottom:20px;
}

.box img{
        width: 80%;
}
.box textarea{
    height:150px;
    border:1px solid #eeeff1;
    border-radius: 10px;
    font-size: 16px;
    padding: 12px;
    margin-bottom:10px;
}

#removeMedia{
    margin-bottom:40px;
}
.load-bar{
    border:3px solid #8fbd20;
    height:50px;
    background-color: #8fbd20;
    margin-bottom:10px;
    border-radius: 10px;
}

.load-bar-progress{
    height:44px;
    margin-bottom:-20px;
    position: relative; 
    background-color: #c7de8f;
    border-radius: 6px;
}

.fileSizeWarning{
    color:#e74c3c;
    margin-bottom:15px;
    display:none;
}

.fileSizeWarning span{
    color:#e74c3c;
    margin: 10px;
    display: inline-block;
}

#uploadMessage{
    display:none;
    color:#008CBA;
    margin-bottom:15px;
}

.uploadMessage span{
    color:#008CBA;
    margin: 10px;
    display: inline-block;
}

.errorMessage{
    /*background-color: #e74c3c;
    border-radius: 10px;
    
    margin-top: 15px;
    color: #fff;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgba(0, 0, 0, .5);*/
    width:100%;
    padding: 10px 0 15px 0;
    background-color: #e74c3c;
    z-index:95;
    position:fixed;
    top:-90px;
    color:#fff;
    text-align:center;
    height:80px;
}

.errorIcon{
    position:absolute;
    right:10px;
    top:20px;
}

#errorPopUp{
    width:100%;
    height:100px;
    background-color: #e74c3c;
    z-index:95;
    position:fixed;
    color:#fff;
}

.errorMessage h2, #errorPopUp h2{
 margin-bottom:5px;  
 font-size: 16px; 
}

.errorMessage p{
    font-size:12px;
}
/* messaging */

.message-box{
    clear:both;
    border-radius:5px;
    margin-bottom:20px;
}

.message-box p{
    padding:10px 20px;
    word-wrap: break-word;
    font-size:16px;
    text-align: left;
}

.msg-profile{
    height:40px;
    width:40px;
    border-radius:50%;
    border:3px solid #eeeff1;
    margin:1px 2px 3px 4px;
    overflow:hidden;
}

.msg-profile img{
    width: 70px !important;
    height: auto;
    margin-top: -18px !important;
}

.user-msg .msg-profile img{
    margin-left: -20px !important;
}

.admin-msg .msg-profile img{
    margin-left: -30px !important;
}

.user-msg .msg-profile{
    margin: -20px 0 0 -20px;
    background-color:#009fe2;
    float:left;
    padding-top: 7px;
    text-align:center;
}

.admin-msg .msg-profile{
    margin: -20px -20px 0 0;
    background-color:#ccc;
    float:right;
    padding: 7px 0 0 11px;
}

.user-msg{
    float:left;
    background-color:#009fe2;
    margin-left: 10px;
        color:#fff;
}

.admin-msg{
    background-color:#aaaaaa;
    float:right;
    margin-right: 10px;
    color:#fff;

}

.messageDivider{
    clear:both;
    height:1px;
    background-color:#ccc;
}
.admin-msg.moderatorMessageFlag{
    color: #999;
    font-style: italic;
    font-size: 12px;
    background-color: transparent;
    margin-bottom: 0;
    clear: both;
    float:none;
    text-align: center;
    padding:5px;
}

.user-msg.moderatorMessageFlag{
    display:none;
}

.msg-time{
    padding:5px;
    background-color:#eeeff1;
    text-align:center;
    margin-bottom: 5px;
    clear: both;
    font-size: 12px;
    color: #999;
}

.conversation-stream{
    margin-bottom:110px;
}

.message-box img{
    width:100%;
    padding:10px;
}

.message-box .mediaVideo{
    border:5px solid red;

}

.mediaHolder{
    text-align: center;
}

.videoIconSmall{
    clear: both;
    margin-top: -110px !important;
    float: left;
    width: auto !important;
    position: relative;
}
.videoIcon{
    clear:both;
    float:left;
    width: auto !important;
    height: auto;
    padding:0 !important;
    margin:-100px 0 0 10px !important;
    position: relative;

}

.message-box .mediaVideoIcon{
    width: 90px;
    height: auto;
    position: relative;
    padding: 0;
    margin-bottom: -220px;
    display: inline-block;
    padding-top: 40px;
}

.message-box .mediaVideoIcon img{
    width: auto;
    margin-top: -230px;
}


.imageViewer{
    width: 104%;
    height: 100%;
    background-color: #eeeff1;
    position: fixed;
    top: 0;
    left: -2%;
}

.imageViewer img{
    width:100%;
    height:auto;
    margin-top:65px;
}

.imageViewer .close{
    position:fixed;
    top:80px;
    right:10px;
    padding:5px;
    border-radius:10px;
    border:1px solid white;
    font-size:12px;
    color:white;
    background-image:url('../images/opacity.png');
}



.videoViewer{
    width: 100%;
    height: 100%;
    background-color: #eeeff1;
    position: fixed;
    top:0;
    left: 0;
    text-align: center;
}

.videoViewer .close{
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #009fe2;
    font-size: 12px;
    color: #009fe2;
    text-align: center;
}

.vidHolder{
    text-align: center;
    display: inline-block;
    margin: 80px auto 0 auto;
    padding:10px;
}

.vidHolder button{
    margin-top: 20px;
}

video{
    /*
    height:500px;*/
    width: 480px;
    height:320px;
    position: relative;
    top: 10px;
}

@media (max-width: 680px) {

    video{

        width: 100%;
        height:auto;
    }

}
.completeIcon{
    width:50px;
    height:50px;
    border:6px solid #8fbd20;
    border-radius:50%; 
    color:#8fbd20;
    padding-top:7px;
    margin-bottom:10px;
}

#notification{
    width: 25px;
    height: 25px;
    background-color: #8fbd20;
    position: relative;
    border-radius: 50%;
    margin-left: 54%;
    margin-top: -30px;
    border: 3px solid #fff;
    font-size: 13px !important;
    font-weight: bold;
    padding-top: 3px !important;
}

.appPanel{
    width: 100%;
    height: 100%;
    background-color: #eeeff1;
    position: fixed;
    top:0;
    left: 0;
    text-align: center;
    z-index:5000;
    padding-top: 20px;
    -webkit-overflow-scrolling: touch;
}

.appPanel .infoPanelLogo{
    width:100%;
    height:120px;
    background:url('../images/logo.png') center no-repeat;
}

.appPanel .info-boldText{
    font-size: 18px;
    font-family: "Lato-Bold";
}


.appPanel .descriptionText{
    font-size:12px;
    word-wrap: break-word;
    font-family: "Lato-Regular";
}
.appPanel h1, .appPanel h3, .appPanel p, .appPanel h2{
    margin-bottom:10px;
}

.appPanel img{
    margin-bottom:10px;
}
/* ---------------------------------------------------------- TEMP */
#global-controls > li{
    text-align: center;
    font-size: 100%;
    padding: 0;
    height:100%;
}

#global-controls > li:before{
    padding-top: 9px;
    display: inline-block;
}

#global-controls > li{
    border-right:1px solid #fff;
}

#global-controls > li:first-child{
    border-right:1px solid #fff;
    border-left:none;
}

#global-controls > li:last-child{
    border-right:none;
}

.pingClass:before{
    color:#fff;
}

.pingClass #notification{
    display:none;
}

.pingNotification{
    background-color:#e74433;
    border-right: 1px solid #fff;
}


.pingNotification{
    -webkit-animation: flash linear 1s infinite;
    animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
    0% { background-color:#e74433;; } 
    50% { background-color:#8fbd20; }
    100% { background-color:#e74433;; } 
}
@keyframes flash {
    0% { background-color:#e74433; } 
    50% { background-color:#8fbd20; }
    100% { background-color:#e74433;; } 
}




#simple-controls{
    position:fixed;
    right:0;
    bottom:0;
    height:110px;
    z-index:3000;
    background-color:#8fbd20;
    padding-top:20px;
    text-align:center;
    width:100%;
}

#simple-controls div{
    display: inline-block;
    background-color: #fff;
    padding: 10px;
    margin: 3px;
    color: #999;
    border-radius: 5px;
    font-size: 10px;
}

#androidVideoAlert .icon-warning:before{
    border: 5px solid;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 15px;
    font-size: 50px;
        color: #aaa;
}

#androidVideoAlert .icon-warning{
    margin-top: 27px;
    margin-bottom: 36px;
}

#androidVideoAlert p, #androidVideoAlert h3{
    margin-bottom:10px;
}

@media (min-width: 680px) {
  

    /*.wrapper{
        text-align: center;
    }

    .row{
        width:680px;
    }

    .nav-top, .nav-bottom{
        width:100%;
    }
    /*.screen-login{
        position: absolute;
        width:640px;
    }
    .nav-top{
        width: 640px;
    }
    .nav-bottom{
        width: 640px;
    }

    .top-layer{
        width:640px;    
    }*/

    .message-box{
        width:50%;
    }

}
